h1{
    text-align: center;
    margin: 0px 0px 40px 0px;
    font-weight: 900;
}


.walt{
    border-radius: 50%;
    display: flex;
    margin: auto;
    width: 250px;
    height: 250px;
}

h2{
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: 900;
}

.div1{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 40%;
    margin-bottom: 100%;
    margin-top: auto;
    background-color: darkgray;
    border-radius: 30px;
}

.texto1{
    text-align: left;
    margin: auto;
}

h1,h2,.texto1,ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

hr{
    border-color: black;
}

li{
    list-style: none;
}

.github{
    margin: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: x-large;
    text-decoration: none;
}

.div2{
    display: flex;
    background-color: purple;
    padding: 5%;
    border-radius: 30px;
}